extends base

block content
  .email-content
    h2 Password Reset Request
    p We received a request to reset your Scantyx account password. Click the button below to set a new password.
    
    .cta-button
      a(href=url, target='_blank') Reset Password
    
    p If you didn't request a password reset, please ignore this email or contact support if you have any concerns.
    
    p This link will expire in 10 minutes.
