extends base

block content
  .email-content
    h2 Welcome to Scantyx, #{firstName}!
    p We're excited to have you on board. Scantyx is a hybrid blockchain event ticketing platform that combines the security of blockchain with the convenience of traditional ticketing.
    
    .cta-button
      a(href=url, target='_blank') Explore Events
    
    p If you have any questions, feel free to reply to this email. We're here to help!
    
    p Happy eventing!
